---
layout: default
seo:
  title: Sebastian Russold Sommelier Impressum
  description: Sebastian Russold Sommelier Impressum, Bildrechte AGB, Datenschutzerklärung
  keywords: Sommelier, Moderation, Gastronomie, Weinkarte, Weinkeller, AGB, Impressum, Bildrechte
  type: Website
  social_image: /images/sommelier_trophy_social.jpg
  author: Sebastian Russold, Anna Kauker
  hide-from-google: false
---

<!DOCTYPE html>
<html>

{% include head.html %}

<body class="bg-light">

<!-------------------Banner Section--------------------------------------->

    {% include banner.html %}

<!-----------------Unsere Mission Section-------------------------------------->

 {% include mission.html %}

<!-----------------Ana Section------------------------------------------------>

{% include ana.html %}

<!-----------------Connor Section------------------------------------------------>

{% include connor.html %}

<!-----------------Anna Section------------------------------------------------>

{% include anna.html %}

<!-----------------Sebastian Section------------------------------------------------>

{% include sebastian.html %}  
  
<!----------jQuery-->
    
  
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js" integrity="sha512-XtmMtDEcNz2j7ekrtHvOVR4iwwaD6o/FUJe6+Zq+HgcCsk3kj4uSQQR8weQ2QVj1o0Pk6PwYLohm206ZzNfubg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    
    <script type="text/javascript" src="all.js"></script>
    
    <script type="text/javascript" src="main.js"></script>


  </body>
  </html>
  
  
  