<!-------------------Banner Section--------------------------------------->

<section class="tall-90 md-tall.100 grid sm-tall-40 banner banner-sm bg-overlay bg-team">
    <div class="col-12 grid md-tall-10 light-text navigation" id="top">
      
        
  
          <nav class="col-12-top right margin-t-minus padded-l hide-sm md-padded-blr-5">
          <a href="index.html#top"> Home </a>
          <a href="index.html#me"> Über uns </a>
          <a href="index.html#service"> Service </a>
          <a href="index.html#kontakt"> Kontakt </a>
          <a href="mailto:mail@russold-sommelier.com" class="emphasis-button border-none sm-padded-l-0 a-inline-block mail-button"> Nachricht </a>
          </nav>
  
          <div class="col-12-top right">
          <a class="hamburger-button show-sm"> &#9776; </a>
          </div>
  
  
          <!-------------------------Mobile Menu-------------------------->
  
          <div class="mobile-menu sm-mobile-menu">
          <nav>
          <a href="index.html#top"> Home </a>
          <a href="index.html#me"> Über uns </a>
          <a href="index.html#service"> Service </a>
          <a href="index.html#kontakt"> Kontakt </a>
          <a href="mailto:mail@russold-sommelier.com" class="emphasis-button border-none sm-padded-l-0 a-inline-block"> Nachricht </a>
          </nav>
          </div>
  
  </div>

      <div class="col-12-middle right">
          <h1 class="uppercase"> Yes we can. </h1>
          <h2 class=" md-padded-0 md-font-size-big sm-font-size-medium sm-margin-l-r-1">
             Neue Wege für die Sommelier Union <br> 
          </h2>
          
      </div>
  </section>