<footer class="tall-50 md-tall-40 bg-dark sm-padded-3">
    <div class="grid-spaceBetween padded">
        <div class="col-4 bg-image bg-case bg-padded hide-sm lazy" title="Sebastian Russold">
        </div>
  
  
        
  
  
        <div class="col-7 xxs-stack grid" id="kontakt">
          <div class="col-12">
            <h2>Kontakt</h2>
          </div>
                
          <div class="col-12 vertical-align">
              <h3 class="hide-sm">Wein. Sommelier. Consulting. Event.</h3>
              <p class="sm-padded-tb-1">Lassen Sie uns miteinander austauschen. Mit, über und rund um den Wein. </p>
  
              <p><a href= "mailto:mail@russold-sommelier.com">mail@russold-sommelier.com</a></p>
  
              <nav class="inline socials">
                <a href="https://www.facebook.com/sebastian.russold" target="_blank" title="Facebook">              
                  <i class="fa-brands fa-facebook-f"></i>
                </a>
  
                <a href="https://www.instagram.com/sebastianrussold/" target="_blank" title="Instagram">
                  <i class="fa-brands fa-instagram"></i>
                </a>
  
                <a href="https://de.linkedin.com/in/sebastian-russold?original_referer=https%3A%2F%2Fwww.google.com%2F" target="_blank" title="LinkedIn">
                  <i class="fa-brands fa-linkedin-in"></i>
                </a>
              </nav>
            </div>
  
            <div class="col-12-bottom padded-t">
              <a href="agb.html#impressum" class="padded-r-1">Impressum</a>
              <a href="agb.html#bildrechte" class="padded-r-1">Bildrechte</a>
              <a href="agb.html#agb" class="padded-r-1">AGB</a>
              <a href="agb.html#datenschutzerklärung" class="padded-r-1">Datenschutzerklärung</a>
            </div>  
  
        </div>
        
       
  
    </div> 
  
  
</footer>